body {
    font-family: 'Poppins', sans-serif;
    background-color: #000; 
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h2 {
    color: #00bfff;
    font-size: 65px; 
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-shadow: 0 0 15px #00bfff;
}

form {
    background-color: #111;
    padding: 40px 50px;
    border-radius: 15px;
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.2);
    width: 400px;
    transition: 0.4s ease;
}


form:hover {
    transform: scale(1.03);
    box-shadow: 0 0 35px rgba(0, 191, 255, 0.5);
}


label {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
}

input[type="text"],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #333;
    border-radius: 8px;
    background-color: #222;
    color: #fff;
    font-size: 15px;
    margin-bottom: 18px;
    transition: 0.3s;
}

input[type="text"]:focus,
select:focus,
textarea:focus {
    border-color: #00bfff;
    box-shadow: 0 0 10px #00bfff;
    outline: none;
}

input[type="radio"],
input[type="checkbox"] {
    accent-color: #00bfff;
    margin-right: 6px;
}

input[type="submit"] {
    background-color: #00bfff;
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    font-size: 17px;
    font-weight: bold;
    transition: 0.3s;
}

input[type="submit"]:hover {
    background-color: #0095cc;
    box-shadow: 0 0 10px #00bfff;
    transform: scale(1.05);
}
